@import "../../../../index.scss";

.app {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    img.welcome-to{
        width: 260px;
        @media #{$xsBreakPoint} {
            display: none;
        }
    }
    img.logo{
       width: 641px; 
       margin-bottom: 21px;
       @media #{$xsBreakPoint} {
        display: none;
       }
    }
    img.mobile-logo{
        width: 36px;
        height: 34px;
        align-self: flex-start;
        display: none;
        @media #{$xsBreakPoint} {
            display: inline-block;
            margin: 10px;
        }
    }
    img.slant{
        width: 100%;
        height: 560px;
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: -1;
        @media #{$xsBreakPoint} {
            height: 65px;
        }
    }
}
